<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AHMADI CLOTHS STORE</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar">

        <h2>AHMADI CLOTHS STORE</h2>

        <div>
    <a href="/">Home</a>

    <a href="/track_order">
        📦 Track Order
    </a>

    <a href="/cart">
        🛒 Cart ({{ cart_count }})
    </a>

    <a href="/login">
        🔐 Admin Login
    </a>
</div>

    </nav>


    <!-- Hero Section -->
     <!-- Hero Section -->
<section class="hero">
    <h1>Welcome to AC Fashion</h1>

    <p>
        Discover stylish and affordable fashion for Men & Women.
    </p>

    <p class="city-dress-line" style="color: #1565c0 !important; text-align: center;">
        Especially Mumbai, Delhi, Kolkata — Dresses Available Here
    </p>
</section>


    <!-- Search -->
    <div class="filter-box">

        <form action="/" method="GET">

            <input
                type="text"
                name="search"
                placeholder="Search clothes..."
            >

            <select name="category">

                <option value="">All Categories</option>

                <option value="Men">Men</option>

                <option value="Women">Women</option>

                <option value="Kids">Kids</option>

            </select>

            <button type="submit">
                Search
            </button>

        </form>

    </div>


    <!-- Products -->
    <div class="products">

        {% for product in products %}

        <div class="product-card">

            <img
                src="{{ product.image }}"
                alt="{{ product.name }}"
            >

            <h3>
    <a href="/product/{{ product.id }}">
        {{ product.name }}
    </a>
</h3>

            <p>
                ₹{{ product.price }}
            </p>

            <p>
                Category: {{ product.category }}
            </p>

            <a
                href="/add_to_cart/{{ product.id }}"
                class="btn"
            >
                Add to Cart
            </a>

            <a
                href="/add_to_cart/{{ product.id }}"
                class="buy-btn"
            >
                Buy Now
            </a>

        </div>

        {% endfor %}

    </div>



    <!-- Footer -->
    <footer>

    <p class="footer-address">
        📍 <strong>AC Fashion</strong><br>
        New Market Sudhani, Near Walid Medical Sudhani,<br>
        Barsoi, Katihar, Bihar - 854317
    </p>
    <p>
        © 2026 AC Fashion Store | All Rights Reserved
    </p>

</footer>